<a href="https://colab.research.google.com/github/virsolgue/Data-Analysis/blob/main/Taller%20II%20-%20Big%20Data%20y%20Salud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import numpy as np
import csv
import pandas as pd
from statistics import mean

COLUMNS_IN_ANALYSIS = [0,2,3,8]
CANTIDAD_COLUMNAS = 39

#Carga del dataset original
with open ('./ejemplo real.csv', newline= '') as f:
	reader = csv.reader(f, delimiter=';')
	data_set = list(reader)

#Se arma además un Data Frame de Pandas:
data_frame = pd.read_csv('./ejemplo real.csv', delimiter = ';')
attribute_name = data_frame.columns

print("La dimensión de la matiz es original es:" , data_frame.shape)
print("-------------------------------------------------------------------------------------")
print()
data_frame.shape # retorna un Tuple: (filas, col)

data_frame.head()

#Column description:
#  0  -  person_uid
#  1  -  Performed_at_Date
#  2  -  GenderId
#  3  -  Gender
#  4  -  Duration_Id
#  5  -  Duration
#  6  -  Frequency_Id
#  7  -  Frequency
#  8  -  Classification_Pain_Id
#  9  -  Classification_Pain
#  10  -  Surveyed_Date
#  11  -  SurveyID
#  12  -  Survey
#  13  -  _Orden
#  14  -  Oswestry01 Group Id
#  15  -  Oswestry01 Group
#  16  -  Oswestry01
#  17  -  Oswestry02 Group Id
#  18  -  Oswestry02 Group
#  19  -  Oswestry02
#  20  -  Oswestry03 Group Id
#  21  -  Oswestry03 Group
#  22  -  Oswestry03
#  23  -  Age
#  24  -  Age Range Id
#  25  -  Age Range
#  26  -  Weight
#  27  -  Height
#  28  -  Bmi
#  29  -  BMI Group Id
#  30  -  BMI Group
#  31  -  Test # TxT
#  32  -  Test #
#  33  -  Test_QTY
#  34  -  Measure_Absolute
#  35  -  Measure Type
#  36  -  Movement Category
#  37  -  Movement_Type
#  38  -  Movement SubCategory

#Exploración del tipo de dato y algunas métricas estadísticas:
print("Los tipos de datos de las variables son:")
print("-------------------------------------------------------------------------------------")
variables_y_tipo = data_frame.dtypes
print(variables_y_tipo)
print()

La dimensión de la matiz es original es: (43781, 39)
-------------------------------------------------------------------------------------

Los tipos de datos de las variables son:
-------------------------------------------------------------------------------------
person_uid                 object
Performed_at_Date          object
GenderId                    int64
Gender                     object
Duration_Id               float64
Duration                   object
Frequency_Id              float64
Frequency                  object
Classification_Pain_Id    float64
Classification_Pain        object
Surveyed_Date              object
SurveyID                  float64
Survey                     object
_Orden                      int64
Oswestry01 Group Id       float64
Oswestry01 Group           object
Oswestry01                float64
Oswestry02 Group Id       float64
Oswestry02 Group           object
Oswestry02                float64
Oswestry03 Group Id       float64
Oswestry03 Group           object
Oswestry03                float64
Age                         int64
Age Range Id                int64
Age Range                  object
Weight                    float64
Height                    float64
Bmi                       float64
BMI Group Id                int64
BMI Group                  object
Test # TxT                 object
Test #                      int64
Test_QTY                    int64
Measure_Absolute          float64
Measure Type               object
Movement Category          object
Movement_Type              object
Movement SubCategory       object
dtype: object

<ipython-input-45-babcb5493468>:15: DtypeWarning: Columns (5,7,9,10,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data_frame = pd.read_csv('./ejemplo real.csv', delimiter = ';')

In [46]:
#Exploración de variables de tipo 'object' y 'float/int64':
lista_variables_y_tipo = variables_y_tipo.to_list()
object_variables_position = []
float_int_variables_position = []
for i in range(0,CANTIDAD_COLUMNAS):
  if lista_variables_y_tipo[i] == 'O':
    object_variables_position.append(i)
  elif lista_variables_y_tipo[i] == 'float64' or lista_variables_y_tipo[i] == 'int64':
    float_int_variables_position.append(i)

data_frame.info()

def calcular_estadisticas(variable_data_frame):
  print("Estadísticas de las variable ", variable_data_frame ,":")
  print("-------------------------------------------------------------------------------------")
  print (data_frame[variable_data_frame].describe() )
  print()

calcular_estadisticas(attribute_name[0])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43781 entries, 0 to 43780
Data columns (total 39 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   person_uid              43781 non-null  object
 1   Performed_at_Date       43781 non-null  object
 2   GenderId                43781 non-null  int64
 3   Gender                  43781 non-null  object
 4   Duration_Id             8279 non-null   float64
 5   Duration                8279 non-null   object
 6   Frequency_Id            8326 non-null   float64
 7   Frequency               8326 non-null   object
 8   Classification_Pain_Id  9094 non-null   float64
 9   Classification_Pain     9094 non-null   object
 10  Surveyed_Date           9094 non-null   object
 11  SurveyID                9151 non-null   float64
 12  Survey                  9151 non-null   object
 13  _Orden                  43781 non-null  int64
 14  Oswestry01 Group Id     25929 non-null  float64
 15  Oswestry01 Group        25929 non-null  object
 16  Oswestry01              25929 non-null  float64
 17  Oswestry02 Group Id     13612 non-null  float64
 18  Oswestry02 Group        13612 non-null  object
 19  Oswestry02              13612 non-null  float64
 20  Oswestry03 Group Id     6614 non-null   float64
 21  Oswestry03 Group        6614 non-null   object
 22  Oswestry03              6614 non-null   float64
 23  Age                     43781 non-null  int64
 24  Age Range Id            43781 non-null  int64
 25  Age Range               43781 non-null  object
 26  Weight                  43781 non-null  float64
 27  Height                  43781 non-null  float64
 28  Bmi                     43781 non-null  float64
 29  BMI Group Id            43781 non-null  int64
 30  BMI Group               43781 non-null  object
 31  Test # TxT              43781 non-null  object
 32  Test #                  43781 non-null  int64
 33  Test_QTY                43781 non-null  int64
 34  Measure_Absolute        43781 non-null  float64
 35  Measure Type            43781 non-null  object
 36  Movement Category       43781 non-null  object
 37  Movement_Type           43781 non-null  object
 38  Movement SubCategory    43781 non-null  object
dtypes: float64(14), int64(7), object(18)
memory usage: 13.0+ MB
Estadísticas de las variable  person_uid :
-------------------------------------------------------------------------------------
count                                    43781
unique                                     645
top       b543c7bc-b6e7-11ec-9461-0209db0fd1c5
freq                                       228
Name: person_uid, dtype: object

In [47]:
def analizar_val_ausentes(data_set):
  #Se verifica el número de valores ausentes para cada variable.
  #Esto se hace reconociendo lo valores nulos de cada celda.
  print ("Cantidad de valores ausentes por variable:")
  print("-------------------------------------------------------------------------------------")
  for columna in range (0,CANTIDAD_COLUMNAS):
    counter=0
    for fila in range (1,len(data_set)):
      if data_set[fila][columna] == '':
        counter+=1
    print(columna," - " , data_set[0][columna], ": ", counter, sep=' ', end='\n')
  print()

analizar_val_ausentes(data_set)

def reemplazar_nulos_por_nan(data_set):
  #Se reemplaza los valores nulos de la tabla por "nan".
  #Esto se hace reconociendo lo valores nulos de cada celda.
  for columna in range (0,CANTIDAD_COLUMNAS):
    for fila in range (1,len(data_set)):
      if data_set[fila][columna] == '':
        data_set[fila][columna] = np.nan
  return data_set

data_set_sin_nulos = reemplazar_nulos_por_nan(data_set)

Cantidad de valores ausentes por variable:
-------------------------------------------------------------------------------------
0  -  person_uid :  0
1  -  Performed_at_Date :  0
2  -  GenderId :  0
3  -  Gender :  0
4  -  Duration_Id :  35502
5  -  Duration :  35502
6  -  Frequency_Id :  35455
7  -  Frequency :  35455
8  -  Classification_Pain_Id :  34687
9  -  Classification_Pain :  34687
10  -  Surveyed_Date :  34687
11  -  SurveyID :  34630
12  -  Survey :  34630
13  -  _Orden :  0
14  -  Oswestry01 Group Id :  17852
15  -  Oswestry01 Group :  17852
16  -  Oswestry01 :  17852
17  -  Oswestry02 Group Id :  30169
18  -  Oswestry02 Group :  30169
19  -  Oswestry02 :  30169
20  -  Oswestry03 Group Id :  37167
21  -  Oswestry03 Group :  37167
22  -  Oswestry03 :  37167
23  -  Age :  0
24  -  Age Range Id :  0
25  -  Age Range :  0
26  -  Weight :  0
27  -  Height :  0
28  -  Bmi :  0
29  -  BMI Group Id :  0
30  -  BMI Group :  0
31  -  Test # TxT :  0
32  -  Test # :  0
33  -  Test_QTY :  0
34  -  Measure_Absolute :  0
35  -  Measure Type :  0
36  -  Movement Category :  0
37  -  Movement_Type :  0
38  -  Movement SubCategory :  0